# Directories
Cours/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# R
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual environments
venv/
env/
ENV/
venv.bak/
venv.bak/

# Logs
*.log

# Others
*.swp
*~