# mystuff
Cours/
my_stuff/
lightning_logs/
data_formatters/
expt_settings/
test_*.py
Data/predictions.csv
Data/predictions_.csv
Data/submission_mod.csv
Data/test_better.csv

# macOS
.DS_Store
.AppleDouble
.LSOverride

# R
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual environments
venv/
env/
ENV/
venv.bak/
venv.bak/

# Logs
*.log

# Others
*.swp
*~